<section class="charasters">
  <h2>Персонажи</h2>
  <div>
    <ul>
      <li>
        <img
          src="/assets/images/charasters/Luke.png"
          alt="Luke Skywalker"
        >
        <span>Luke Skywalker</span>
      </li>
      <li>
        <img
          src="/assets/images/charasters/Leia.png"
          alt="Princess Leia Organa"
        >
        <span>Princess Leia Organa</span>
      </li>
      <li>
        <img
          src="/assets/images/charasters/Solo.png"
          alt="Han Solo"
        >
        <span>Han Solo</span>
      </li>
      <li>
        <img
          src="/assets/images/charasters/Kenobi.png"
          alt="Ben Obi-Wan Kenobi"
        >
        <span>Ben Obi-Wan Kenobi</span>
      </li>
      <li>
        <img
          src="/assets/images/charasters/Vader.png"
          alt="Darth Vader"
        >
        <span>Darth Vader</span>
      </li>
      <li>
        <img
          src="/assets/images/charasters/Chewbacca.png"
          alt="Chewbacca"
        >
        <span>Chewbacca</span>
      </li>
    </ul>
    <button
      [class]="buttonMoreClass"
      (click)="buttonMoreClick()"
    >
      +Еще
    </button>
  </div>
</section>
