/*@import 'src/app/buttons.css';*/
/** Общий стиль блока "Персонажи" **/
.charasters {
  padding: 0px 90px;
}

/** Стиль списка персонажей **/
.charasters ul {
  display: grid;
  padding: 0;
  margin-top: 36px;
  grid-template-columns: repeat(3, 270px);
  grid-template-rows: repeat(2, 100px);
}

/** Заголовок блока **/
.charasters h2 {
  margin-top: 30px;
  margin-bottom: 0;
}

/** Стиль элементов списка **/
.charasters ul > li {
  height: 70px;
  display: flex;
  align-items: center;
  width: 220px;
}

/** Стиль шрифта элементов списка **/
.charasters ul > li > span {
  margin-left: 20px;
  color: #d6d2cf;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

/** Отображение элементов списка **/
.charasters > div {
  display: flex;
}
