/** Общий стиль фильтра **/
.filter {
  background: #191e23;
  position: absolute;
  left: 775px;
  top: -30px;
  transform: translate(-50%, 0);
  box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 50%);
}

/** Стиль списка фильтров **/
.filter ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
  width: 238px;
  padding: 25px 55px;
  margin: 0;
  cursor: pointer;
}

/** Отображение элемента фильтра **/
.filter_item {
  display: flex;
  justify-content: flex-start;
}

/** Положение галочки выбранного фильтра **/
.filter_item > img {
  position: absolute;
  right: 200px;
}
