/** Общий стиль блока списка фильмов **/
.list-films {
  padding: 0px 90px;
}

/** Стиль заголовка **/
.list-films h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #fff;
  text-transform: inherit;
}

/** Размеры и расположение блока **/
.list-films > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 52px;
}
