<header class="header">
  <a href="#" (click)="openMainHTML()">
    <img src="./assets/images/nav/kinostormkonostorm.svg" alt="kinostorm_logo">
  </a>
  <nav class="header_nav">
    <ul class="header_nav__list">
      <li>
        <a href="#" (click)="openMainHTML()">Каталог</a>
      </li>
      <li>
        <a href="# ">Подборки</a>
      </li>
      <li>
        <a href="# ">Скоро на kinostorm</a>
      </li>
      <li>
        <a href="#" (click)="openUserList()">Мой список</a>
      </li>
    </ul>
  </nav>
  <div>
    <a href="# "><img src="./assets/images/nav/search.svg" alt="search"></a>
    <a href="# "><img src="./assets/images/nav/user.svg" alt="user"></a>
  </div>
</header>
<div *ngIf="mainHTML">
<app-banner></app-banner>
<app-description></app-description>
<app-charasters></app-charasters>
</div>
<div *ngIf="userList">
  <app-userList></app-userList>
</div>
