/** Общий стиль хедера **/
.header {
  padding: 0px 90px 0px 90px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #161617;
}

/** Стиль меню навигации **/
.header__nav-list {
  width: 520px;
  height: 70px;
  justify-content: space-between;
  padding-inline-start: 0px;
  margin: 0;
  align-items: center;
}

/** Стиль отображения ссылок **/
.header__nav-list > li > a {
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #d6d2cf;
}

/** Стиль ссылок при наведении **/
.header__nav-list > li > a:hover {
  color: #28a396;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

/** Стиль для панели поиска и логина **/
.header__login-search {
  display: flex;
  width: 90px;
  justify-content: space-between;
}
