<section class="banner banner{{banner}}">
  <div>
    <h1>{{ title }}</h1>
    <img
      src="./assets/images//banner/IMDb.svg"
      alt="IMDb"
    >
  </div>
  <div>
    <button
      [class]="buttonWatch"
      (click)="buttonWatchClick()"
    >Cмотреть от 99 Р
    </button>
    <div class="banner__buttons">
      <button
        [class]="buttonFavorites"
        (click)="buttonFavoritesToggle()"
      ></button>
      <button
        class="{{ viewed }}">
<!--        (click)="buttonViewToggle()"-->
<!--      >-->
      </button>
      <button
        [class]="buttonRate"
        (click)="buttonRateClick()"
      >
        <img
          src="./assets/images/banner/star.png"
          alt="star"
        >
        Оценить
      </button>
    </div>
  </div>
  <div>
    <div>
      <span>{{ title }}</span>
      <span>{{date.substring(0, date.length - 6)}}, USA, 2:30</span>
    </div>
    <span>
      Rating is {{ rating }} stars
    </span>
<!--    <img-->
<!--      src="./assets/images/banner/rating.svg"-->
<!--      alt="rating"-->
<!--    >-->
  </div>
  <div>
    <ul>
      <li>Фантастика</li>
      <li>Боевик</li>
      <li>Фэнтази</li>
      <li>Приключения</li>
    </ul>
  </div>
</section>

<app-description></app-description>
<app-charasters></app-charasters>
