/*@import 'src/app/buttons.css';*/
/** Стиль основного банера **/
.banner {
  background: transparent;
  background-image: linear-gradient(0deg, #191E23, #ffffff00), url(src/assets/images/banner/background.jpg);
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
/** Ориентировние основных элементов на банере **/
.banner>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1060px;
  padding: 0px 90px;
  margin-top: 9px;
}
/** Стиль шрифта хараектристик фильма **/
.banner span {
  color: #CFCAC7;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  height: 20px;
}
/** Стиль заголовка банера **/
.banner h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #FFFFFF;
  width: 510px;
  letter-spacing: 0.02em;
  margin: 0px;
}
/** Стиль списка жанров фильма **/
.banner>div>ul {
  margin: 0;
  padding: 0;
  margin-top: 14px;
}
/** Стили элементов списка жанров фильма **/
.banner>div>ul>li {
  background: rgba(255, 255, 255, 0.08);
  background-blend-mode: lighten;
  border-radius: 3px;
  height: 30px;
  padding: 6px 10px;
  margin-right: 10px;
}
/** Динамические банеры для API **/
.banner-background-0{
  background: transparent;
  background-image: linear-gradient(0deg, #191E23, #ffffff00), url(src/assets/images/banner/4.jpg);
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.banner-background-1{
  background-image: linear-gradient(0deg, #191E23, #ffffff00), url(src/assets/images/banner/5.jpg);
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.banner-background-2{
  background-image: linear-gradient(0deg, #191E23, #ffffff00), url(src/assets/images/banner/6.jpg);
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.banner-background-3{
  background-image: linear-gradient(0deg, #191E23, #ffffff00), url(src/assets/images/banner/1.jpg);
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.banner-background-4{
  background-image: linear-gradient(0deg, #191E23, #ffffff00), url(src/assets/images/banner/2.jpg);
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.banner-background-5{
  background-image: linear-gradient(0deg, #191E23, #ffffff00), url(src/assets/images/banner/3.jpg);
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.banner-background-6{
  background-image: linear-gradient(0deg, #191E23, #ffffff00), url(src/assets/images/banner/7.jpg);
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
