/** Общий стиль блока рейтинга **/
.rating-area {
  overflow: hidden;
  width: 102px;
  height: 36px;
  margin: 0 auto;
  background: #23292e;
  border-radius: 5px;
  position: absolute;
  left: 0px;
  top: 0px;
}

/** Скрытие инпута радио **/
.rating-area:not(:checked) > input {
  display: none;
}

/** Параметры отображаемого объета (звездочки) **/
.rating-area:not(:checked) > label {
  float: right;
  width: 20px;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

/** Указание выводимого контента **/
.rating-area:not(:checked) > label:before {
  content: '★';
}

/** Стиль нажатой звездочки **/
.rating-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}

/** Стиль звездочек в фокусе **/
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}

/** Каскадное выделение звездочек **/
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

/** Позиционирование звездочек **/
.rate-area > label:active {
  position: relative;
}
