<section class="description">
  <div class="description__annotation">
    <h2>О фильме</h2>
    <span>Татуин. Планета-пустыня. Уже постаревший рыцарь Джедай Оби Ван Кеноби спасает молодого Люка Скайуокера, когда тот пытается отыскать пропавшего дроида. С этого момента Люк осознает свое истинное назначение: он один из рыцарей Джедай. К Люку и Оби Вану присоединяется отчаянный пилот-наемник Хан Соло, и в сопровождении двух дроидов, R2D2 и C-3PO, этот необычный отряд отправляется на поиски предводителя повстанцев – принцессы Леи. Героям предстоит отчаянная схватка с устрашающим Дартом Вейдером – правой рукой Императора и его секретным оружием – «Звездой Смерти».</span>
  </div>
  <div>
    <h2>Трейлер</h2>
    <video controls width="340" height="189" muted poster="/assets/images/description/poster.png">
<!--      <source src="/video/trailer.mp4">-->
    </video>
  </div>
</section>
