.description {
  padding: 30px 90px 50px 90px;
  display: flex;
  margin: 0 auto;
  background-color: #191E23;
  justify-content: space-between;
}

.description span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.description__annotation {
  width: 520px;
}
