/** Общий стиль блока "О фильме" **/
.description {
  padding: 30px 90px 50px 90px;
  display: flex;
  margin: 0 auto;
  background-color: #191e23;
  justify-content: space-between;
}

/** Стиль описания **/
.description__annotation {
  width: 520px;
}

/** Шрифт описания **/
.description__annotation span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
