/** Импорт шрифтов **/
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Arimo);
@import 'buttons.css';
html {
  box-sizing: border-box;
  background-color: #000000 !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/** Общий стиль тела **/
body {
  width: 1060px;
  min-height: 100vh;
  margin: 0px auto;
  background-color: #181c20;
  color: #D6D2CF;
  font-family: 'Arimo';
  font-style: normal;
}
/** Общий стиль ссылок **/
body a {
  text-decoration: none;
}
/** Общий стиль элементов списка **/
body li {
  list-style-type: none;
}
/** Общий стиль списков **/
body ul {
  display: flex;
}
/** Общий стиль заголовков h2 **/
h2 {
  color: #8FD4C0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
/** Общий стиль кнопок **/
button {
  border-style: none;
  cursor: pointer;
}
